[Desktop Entry]
Type=Application
Name=DIY Particle Detector
Exec=DIY-Particle-Detector
Icon=DIY-Particle-Detector
Categories=Education;
Terminal=false
